<html>
<head>
<title>Login</title>
</head>
<body>

<h2>Welcome to  The video library mgmt</h2>


<div style='float:left'>
<form action="/createUser" method="post">
<h3>Already have an account?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3></br>
<p>UserName</p>
<input type="text" name="userName" id="name"></input><br/>
<p>Password</p>
<input type="password" name="password" id="password"></input><br/><br/>
<input type="submit" name="submit" value="login"/>
<input type="reset" value="Reset!"></form>
</div>

</body>
</html>